body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url("../images/header.png");
    background-size: cover;
    background-position: center;
    height: 6.61vw;
    color: white;
    display: flex;
    align-items: center;
    padding: 0vw;
    width: 100%;
}

header h1 {
    font-size: 2.11vw;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 0;
    margin-left: 6.34vw;
}

header nav ul {
    list-style: none;
    display: flex;
    margin-left: 6.08vw;
    padding: 0;
    gap: 3vw;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.58vw;
    font-weight: bold;
}

a:hover {
    opacity: 0.6;
}

.profile-header-title {
    text-decoration: none;
    color: white;
}

.allkeyword-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ECEDF1;
    width: 100vw;
    height: 100vh;
    padding: 0;
}


.character-img {
    width: 7.93vw;
    height: 6.61vw;
    position: absolute;
    right: 2.64vw;
    top: 0;
}

.character-img:hover {
    opacity: 0.6;
    animation: jump 0.5s ease-in-out infinite;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.theme-list {
    background-color: #ECEDF1;
    width: 100%;
}

.theme-list h2 {
    font-size: 2vw;
    margin-bottom: 3.11vw;
    margin-left: 6.34vw;
    margin-top: 3.3vw;
}

.search-input {
    padding: 0.87vw;
    height: 2.91vw;
    font-size: 0.87vw;
    border-radius: 1.32vw;
    border: none;
    margin-left: 2vw;
    width: 30vw;
    margin-bottom: 0;
}

.keyword-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vw;
    margin-left: 4.84vw;
    margin-right: 6.34vw;
}

.keyword-item {
    background-color: white;
    padding: 0.8vw 1.5vw;
    border-radius: 2vw;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 1.19vw;
    text-align: center;
    color:black;
}

.theme-list-flex {
    display: flex;
    align-items: center;
}

.search-form {
    position: relative;
    margin:0;
}

.allkeyword-search-button {
    position: absolute;
    right: 0.8vw;
    top:50%;
    transform: translateY(-50%);
    background-color: #1C4E87;
    color: white;
    border: none;
    font-size: 0.87vw;
    font-weight: bold;
    width: 4.1vw;
    height: 2.2vw;
    border-radius: 1.32vw;
}

.allkeyword-search-button:hover {
    opacity: 0.6;
}

.theme-select {
    font-size: 0.87vw;
    height: 2.31vw;
    border: none;
    margin-left: 2vw;
    padding:0 0.8vw;
    border-radius: 0.32vw;
}