body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
}

.question-page {
    width: 100vw;
    background-image: url(../images/background_1.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-content {
    margin:0 3.7vw;
    width: 100vw;
    background-color: #E4E4E4;
    border-radius: 0.87vw;
    height: 48vw;
    max-height: 100vh;
}

.question-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vw;
}

.question-header h2 {
    font-size: 2.5vw;
    margin: 0;
    margin-top: 1.58vw;
    margin-bottom: 0.58vw;
}

.question-header h3 {
    font-size: 1.85vw;
    margin: 0;
    color: #000;
}

.question-counter {
    font-size: 1.2vw; 
}

.question-text p{
    font-size: 1.85vw;
    margin: 0 10.58vw;
    font-weight: bold;
    margin-bottom: 3.17vw;
    /* width: 100%;
    max-width: 52vw; */
}

.option-item {
    margin: 0;
    margin-left: 10.58vw;
    margin-bottom: 1.58vw;
    display: flex;
    align-items: center;
    margin-right: 32vw;
}

.option-radio {
    width: 1.58vw;
    height: 1.58vw;
    margin: 0;
}

.option-label {
    font-size: 1.58vw;
    letter-spacing: 0.05vw;
    font-weight: bold;
    margin-left: 1.05vw;
}


.answer-button {
    background-color: #1C4E87;
    width: 17.46vw;
    height: 5.29vw;
    border-radius: 1.32vw;
    color: white;
    font-size: 1.85vw;
    font-weight: bold;
    border: none;
    outline: none;
    margin-left: 10.58vw;
    margin-top: 1.17vw;
}

.answer-button:hover {
    opacity: 0.6;
}



.character-image {
    position: absolute;
    bottom: -1vw;
    right: 3.96vw;
    width: 30.42vw;
    height: 30.42vw;
}

.answer-result h2{
    font-size: 1.5vw;
    margin-left: 10.58vw;
    margin-top: 0;
}

.answer-question p{ 
    font-size: 1.32vw;
    margin: 0;
    margin-left: 10.58vw;
    font-weight: bold; 
    margin-bottom: 1.17vw;
    width: 100%;
    max-width: 38vw;
}  

.correct-image {
    width: 13vw;
    height: 13vw;
    position: absolute;
    top: 10vw;
    right: 35vw;
}

.incorrect-image {
    width: 13vw;
    height: 13vw;
    position: absolute;
    top: 15vw;
    right: 35vw;
}

.explanation {
    margin-left: 10.58vw;
    margin-top: 1.17vw;
    margin-bottom: 0;
}

.explanation h3{
    font-size: 1.5vw;
    margin-top: 2.17vw;
    margin-bottom: 0.2vw;
}

.explanation p{
    font-size: 1.4vw;
    margin: 0;
    max-width: 50vw;
    width: 50vw;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

.character-image {
    animation: float 3s ease-in-out infinite;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay-content h2 { 
    color: white;
    font-size: 3.3vw;   
}

.loading-img {
    width: 6vw;
    height: 6vw;
    animation: spin 2s linear infinite; /* 2秒かけて360度回転を無限に繰り返す */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.navigation-buttons {
    display: flex;
}