{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-page">
        <h2>ログイン</h2>
        <form method="POST" action="{% url 'login' %}" class="login-form">
            {% csrf_token %}
            <label for="email">メールアドレス</label>
            <br>
            <input type="email" name="email" id="email" required>
            <br>
            <label for="password">パスワード</label>
            <br>
            <input type="password" name="password" id="password" required>
            <br>
            <div class="login-button-container">
                <button type="submit" class="login-button">ログイン</button>
            </div>
        </form>
        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    </div>
</body>
</html>