
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="profile-container">
        <header>
            <h1><a href="{% url 'profile' %}" class="profile-header-title">generAIte</a></h1>
            <nav>
                <ul>
                    <li><a href="{% url 'generate' %}">問題生成</a></li>
                    <li><a href="{% url 'allkeyword' %}">問題一覧</a></li>
                    <!-- <li><a href="{% url 'allquestion' %}">作成した問題集</a></li> -->
                </ul>
                <a href="{% url 'profile' %}"><img src="{% static 'images/character_header.png' %}" alt="プロフィール画像" class="character-img"></a>
            </nav>
            
        </header>
        <div class="profile-flex">
            <div class="profile-left">
                <div class="profile-item profile-correct">
                    <h3>正解数</h3>
                    <h2>{{ correct_count }}<span>回</span></h2>
                </div>
                <div class="profile-item profile-generate">
                    <h3>生成問題数</h3>
                    <h2>{{ generate_count }}<span>個</span></h2>
                </div>
                <div class="profile-item profile-accuracy">
                    <h3>正答率</h3>
                    <h2>{{ accuracy }}<span>%</span></h2>
                </div>
            </div>
            <div class="profile-right">
                <h2>
                    {% if generate_count >= 100000 %}
                        SSS
                    {% elif generate_count >= 40000 %}
                        SS<span>ランク</span>
                    {% elif generate_count >= 20000 %}
                        S+<span>ランク</span>
                    {% elif generate_count >= 10000 %}
                        S<span>ランク</span>
                    {% elif generate_count >= 5000 %}
                        A<span>ランク</span>
                    {% elif generate_count >= 2500 %}
                        B<span>ランク</span>
                    {% elif generate_count >= 500 %}
                        C<span>ランク</span>
                    {% elif generate_count >= 100 %}
                        D<span>ランク</span>
                    {% else %}
                        E<span>ランク</span>
                    {% endif %}
                </h2>
                <h4> 
                    {% if generate_count >= 100000 %}
                        最高ランクに達しました。
                    {% elif generate_count >= 40000 %}
                        100000問生成でSSSランクに昇格
                    {% elif generate_count >= 20000 %}
                        40000問生成でSSランクに昇格
                    {% elif generate_count >= 10000 %}
                        20000問生成でS+ランクに昇格
                    {% elif generate_count >= 5000 %}
                        10000問生成でSランクに昇格
                    {% elif generate_count >= 2500 %}    
                        5000問生成でAランクに昇格
                    {% elif generate_count >= 500 %}
                        2500問生成でBランクに昇格
                    {% elif generate_count >= 100 %}
                        500問生成でCランクに昇格
                    {% else %}
                        100問生成でDランクに昇格
                    {% endif %}
                </h4>
                <h3>
                    {% if generate_count >= 100000 %}
                        称号：generAIterマスター
                    {% elif generate_count >= 40000 %}
                        称号：プロgenerAIter
                    {% elif generate_count >= 20000 %}
                        称号：最高なgenerAIter
                    {% elif generate_count >= 10000 %}
                        称号：専門的なgenerAIter
                    {% elif generate_count >= 5000 %}
                        称号：上級者generAIter
                    {% elif generate_count >= 2500 %}    
                        称号：中級者generAIter
                    {% elif generate_count >= 500 %}
                        称号：そこそこなgenerAIter
                    {% elif generate_count >= 100 %}
                        称号：初心者generAIter
                    {% else %}
                        称号：未経験generAIter
                    {% endif %}
                </h3>
                <p class="profile-genre">
                    好きなジャンル
                    <p class="profile-genre-html">{{ favorite_keyword }}</p> 
                </p>
            </div>
        </div>
    </div>
</body>